<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<table id="form_table">
		<tr>
			<div class="field">
				<td><%= f.label :title %></td>
				<td><%= f.text_field :title %></td>
			</div>
		</tr>
		<tr>
			<div class="field">
				<td><%= f.label :author %></td>
				<td><%= f.text_field :author %></td>
			</div>
		</tr>
		<tr>
			<div class="field">
				<td valign="top"><%= f.label :body %></td>
				<td><%= f.text_area :body %></td>
			</div>
		</tr>
		<tr>
			<td></td>
			<div class="actions">
				<td><%= f.submit @text_for_submit_btn %></td>
			</div>
		</tr>
	</table>
<% end %>
