<p id="notice"><%= notice %></p>

<div class="horizontal_list">
	<ul>
		<li></li>
		<li>
			<%= link_to image_tag('page_edit.png'), edit_article_path(@article), title: "Edit Article" %>
			<%= link_to 'edit', edit_article_path(@article), title: "Edit Article" %>
		</li>
		<li>
			<%= link_to image_tag('page_delete.png'), @article, confirm: 'Are you sure?', method: :delete, title: "Delete Article" %>
			<%= link_to 'delete', @article, confirm: 'Are you sure?', method: :delete, title: "Delete Article" %>
		</li>
		<li>
			<%= mail_to(nil, image_tag('email.png'), :subject => @article.title, :body => article_url) %>
			<%= mail_to(nil, "email", :subject => @article.title, :body => article_url) %>
		</li>
	</ul>
</div>
<br/>
<p>
	<h2><%= @article.title %></h2>
</p>

<p>
  by <%= @article.author %>. <%= @article.edits %> <%= @article.edits == 1? "edit" : "edits" %> since <%= @article.created_at.strftime("%A, %b. %d %Y") %>.
</p>

<br/>

<p>
  <%= @article.body %>
</p>
