<%= form_for(@author) do |f| %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% @author.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<table id="form_table">
	<table id="form_table">
		<tr>
			<div class="field">
				<td class="field_label"><%= f.label :photo %></td>
				<td><%= form.file_field :photo %></td>
			</div>
		</tr>
		<tr>
			<div class="field">
				<td class="field_label"><%= f.label :name %></td>
				<td><%= f.text_field :name %></td>
			</div>
		</tr>
		<tr>
			<td></td>
			<div class="actions">
				<td><%= f.submit @text_for_submit_btn %></td>
			</div>
		</tr>
	</table>
<% end %>
