- content_for :header do
  \...you can't spell 'authority' without 'author'
%br/
%p#notice= notice
.horizontal_list
  %ul
    %li
      %h2 All the World's Authors
    %li#create_new_article_button
      = link_to(image_tag("page_add.png"), new_author_path, title: "To 'Author Creation' Screen")
      = link_to("Create an Article", new_author_path, title: "To 'Author Creation' Screen")
%br/
%br/
%br/
%br/
%table
  %tr
    %th
    %th
    %th
  - @authors.each do |author|
    %tr
      %td= link_to 'Show', author
      %td= link_to 'Edit', edit_author_path(author)
      %td= link_to 'Destroy', author, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Author', new_author_path