- content_for :header do
  \...godly does not define Arthur
- if notice
  %p#notice= notice
%div.image
  = image_tag @author.photo.url(:thumb)
%h2
  = @author.name

.article_list
  %h3
    Articles by
    \#(@author.name):
  %ul
    - @author.articles.each do |arti|
      %li
        = link_to arti[:title], article_path(arti)
        
= link_to 'Edit', edit_author_path(@author)
|
\#{link_to 'Back', authors_path}