!!!
%html
  %head
    %title Gamez
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #user_nav
      = user_nav
    %br/
    - if notice
      %p#notice= notice
    - if flash[:error]
      %p#error= flash[:error]
    %h1#title 
      = link_to "Gamez", root_path
      = yield :title
    - if current_user and current_user.admin?
      %table.admin_bar
        %thead
          %tr
            %th= link_to "Games", admin_root_url
            %th= link_to "Users", admin_users_url
            %th= link_to "Roles", admin_roles_url
    = yield
