!!!
%html
  %head
    %title Gamez
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - if notice
      %p#notice= notice
    - if flash[:error]
      %p#error= flash[:error]
    #user_nav
      = yield :user_nav
    %br/
    %h1#title 
      = link_to "Gamez", root_path
    = yield
