<%= form_for(@user_session) do |f| %>
  <% if @user_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_session.errors.count, "error") %> prohibited this user_session from being saved:</h2>

      <ul>
      <% @user_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<table id="form_table">
		<tr>
			<div class="field">
				<td><%= f.label :username, "Username" %></td>
				<td><%= f.text_field :username, size: 35 %></td>
			</div>
		</tr>
		<tr>
			<div>
				<td><%= f.label :password, "Password" %></td>
				<td><%= f.password_field :password, size: 35 %></td>
			</div>
		</tr>
		<tr>
			<div class="actions">
				<td colspan="2"><%= f.submit %></td>
			</div>
		</tr>
	</table>
<% end %>
