= form_for [:members, @game] do |f|
  - if @game.errors.any?
    #error_explanation
      %h2
        Could not save changes.
      %ul
        - @game.errors.full_messages.each do |msg|
          %li= msg
  %table
    %tr
      .field
        %td= f.label :title
        %td= f.text_field :title
    %tr
      %td/
      %td
        .field
          - Game::RATINGS.each do |ra|
            = f.radio_button :rating, ra.to_s
            = f.label :rating, ra.to_s
            %br/
    %tr
      %td/
      %td
        .actions
          = f.submit "Save"
