= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg.sub(/digest/, "")
  %table#form_table
    %tr
      .field
        %td= f.label :username, "Username"
        %td= f.text_field :username, size: 20
    %tr
      .field
        %td= f.label :password, "Password"
        %td= f.password_field :password, size: 20
    %tr
      .field
        %td= f.label :password_confirmation, "Password Confirmation"
        %td= f.password_field :password_confirmation, size: 20
    %tr
      .field
        %td= f.label :first_name, "First name"
        %td= f.text_field :first_name, size: 15
        %tr
    %tr
      .field
        %td= f.label :last_name, "Last name"
        %td= f.text_field :last_name, size: 15
    %tr
      .field
        %td= f.label :email, "Email"
        %td= f.text_field :email, size: 20
    %tr
      .field
        %td.field_label= f.label :photo
        %td= f.file_field :photo
    %tr
      .actions
        %td{:colspan => "2"}= f.submit "Register!"
