<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg.sub(/digest/, "") %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<table id="form_table">
		<tr>
			<div class="field">
				<td><%= f.label :username, "Username" %></td>
				<td><%= f.text_field :username, size: 35 %></td>
			</div>
		</tr>
		<tr>
			<div>
				<td><%= f.label :password, "Password" %></td>
				<td><%= f.password_field :password, size: 35 %></td>
			</div>
		</tr>
		<tr>
			<div>
				<td><%= f.label :password_confirmation, "Confirm Confirmation" %></td>
				<td><%= f.password_field :password_confirmation, size: 35 %></td>
			</div>
		</tr>
		<tr>
			<div class="actions">
				<td colspan="2"><%= f.submit %></td>
			</div>
		</tr>
	</table>
<% end %>
