%h2 Users
= will_paginate @games
%table
  %tr
    %th Name
    %th Username
    %th Last Login
    %th Number of Games
  - @users.each do |user|
    %tr
      %td= link_to get_first_and_last_name_string(user), edit_user_path(:id)
      %td= user.username
      %td= get_last_login_as_string(user)
      %td= user.games.count
%br/
= link_to 'New User', new_user_path
