<!DOCTYPE html>
<html>
<head>
  <title>Articl.es -- All the World's Articles (with a name .com hipsters love)</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="header">
		<h1>Articl.es</h1>
		<h3><%= yield :header %></h3>
	</div>
	<div class="main">
		<%= yield %>
	</div>
</body>
</html>
