!!!
%html
  %head
    %title Articl.es -- All the World's Articles (with a name .com hipsters love)
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .header
      %h1 Articl.es
      %h3= yield :header
    #menu_bar
      %ul
        %li
          = link_to("Authors", authors_path, title: "View all authors")
        %li
          = link_to("Articles", articles_path, title: "View all articles")
    .main
      = yield