= render "members/member_nav"
%h2 My Gamez 
= link_to "Add a new game", new_members_game_path
= will_paginate @games
%table.index_table
  %thead
    %tr
      %th Title
      %th Rating
      %th Date Added
  %tbody
  - @games.each do |game|
    %tr
      - if current_user.id == game.user_id
        %td= link_to game.title, edit_members_game_path(game) 
        %td= game.rating
        %td
          = game.created_at.strftime("%b. %d %Y")
          by me

= render_game_totals_for_user current_user
