- content_for :title do
  Admin
%h2 Users
= will_paginate @users
%table.index_table
  %tr
    %th Name
    %th Username
    %th Last Login
    %th Number of Games
  - @users.each do |user|
    %tr
      %td= link_to get_first_and_last_name_string(user), edit_admin_user_path(user.id)
      %td= user.username
      %td= get_last_login_as_string(user)
      %td= user.games_count
%br/
