<% content_for :header do %>
	...with a name .com hipsters love!
<% end %>

<br/>
<p id="notice"><%= notice %></p>

<div class="horizontal_list">
	<ul>
		<li><h2>All the World's Articles</h2></li>
		<li id="create_new_article_button"><%= link_to(image_tag('page_add.png'), new_article_path, title: "To 'Article Creation' Screen")%><%= link_to('Create an Article', new_article_path, title: "To 'Article Creation' Screen")%></li>
	</ul>
</div>

<table id="header_encapsulating_table" class="encapsulating_table">
  <tr>
    <td>
      <table id="header_table">
        <tr class="table_header_row">
          <th id="title_header" class="title_column">Title</th>
          <th id="author_header" class="author_column">Author</th>
          <th id="body_header" class="body_column">Body</th>
          <th id="date_header" class="date_column">Creation Date</th>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr class="table_header_row">
          <th id="button_header"></th>
        </tr>
      </table>
    </td>
  </tr>
</table>

<div class="table_div">
  <table class="encapsulating_table">
    <tr>
      <td>
        <table id="article_table">

          <% @articles.each do |article| %>
          <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
            <td class="title_column"><%= article.title %></td>
            <td class="author_column"><%= article.author %></td>
            <td class="body_column"><%= truncate(strip_tags(article.body), length: 42) %></td>
            <td class="date_column"><%= article.created_at.strftime("%A, %b. %d %Y") %></td>
          </tr>
          <% end %>
        </table>
      </td>
      <td>
        <table id="button_table">
          <% @articles.each do |article| %>
          <tr class="interior_row">
            <td class="button_column">
              <%= link_to image_tag('page_view.png'), article, title: "View Article" %>
              <%= link_to image_tag('page_edit.png'), edit_article_path(article), title: "Edit Article" %>
              <%= link_to image_tag('page_delete.png'), article, confirm: 'Are you sure?', method: :delete, title: "Delete Article" %>
            </td>
          </tr>
          <% end %>
        </table>
      </td>
    </tr>
  </table>
</div>
<br />
<p>
  <%= pluralize(@articles.size, "article")%>.
</p>